{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/one.css'%}">
</head>
<body>
    <center>
        <h1>hello we are learning inserting image</h1>
        <img src="{% static 'image/lovepic.jpg' %}" height="700px" width="700px">

    </center>
</body>
</html>